
*,
*::after,
*::before{
    margin : 0;
    padding: 0;
    box-sizing: inherit;

}
html{
    font-size: 62.5%; 
    /* 10px/16px -- By Default for browser:16px */
}
body {


    box-sizing: border-box;
}
